.vp-doc h2 {
  // margin: 3rem 0 1rem;
  // border-top: 1px solid var(--vp-c-divider);
  // padding-top: 1.5rem;
  // letter-spacing: -0.02em;
  // line-height: 1.3333333;
  // font-size: 1.5rem;
  /* since it already has a top padding of 1.5rem, we don't need extra scroll margin */
  // --vp-extra-scroll-margin: 0px;
  
  margin: 1.4rem 0 1rem;
  padding-top: 0;
  border: 0;
}

// .full-width-page .VPDoc {
//   padding-bottom: 0 !important;
// }

.full-width-page .VPDoc .content {
  padding-bottom: 0 !important;
}