/**
 * Colors: Solid
 * -------------------------------------------------------------------------- */
:root {
  --vp-c-white: #fafafa;
  --vp-c-black: #111;
  --vp-c-neutral: var(--vp-c-black);
  --vp-c-neutral-inverse: var(--vp-c-white);
}

.dark {
  --vp-c-neutral: var(--vp-c-white);
  --vp-c-neutral-inverse: var(--vp-c-black);
}

:root {
  --red: #e47b84;
  --green: #b6d87e;
  --blue: #7eb5d9;
  --yellow: #fec803;
  --aka: #b4444c;
}

* dl {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1em;
}

.command-plus dl {
  grid-template-columns: auto 1fr auto 1fr;
}
.command-plus dt span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  border: 1px solid var(--vp-c-neutral);
}
